article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 65px;
    height: 500px;
    gap: 15px;
    margin-top: 15px;
    overflow:  hidden;

    .banner-left{
        cursor: pointer;
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        height: 100%;

        .topimg{
            display: block;
            width: 100;
            height: 60%;
            overflow: hidden;
            border-radius: 15px;
            img{
                border-radius: 25px;
                display: block;
                width: 100%;
                transition: all .3s ease-in;
                &:hover{
                    transform:  scale(1.1);
                }
            }
        }
        .bottomimg{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 50%;
            gap: 8px;

            .bimg{
                display: flex;
                width: 50%;
                height: 100%;
                overflow: hidden;
                border-radius: 15px;
                img{
                    transition: all .3s ease-in;
                    display: block;

                    &:hover{
                        transform:  scale(1.2);
                    }
                }
            }
            img{
                display: block;
                width: 100%;
            }
        }
    }
    .banner-right{
        cursor: pointer;
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: 10px;
        height: 100%;

        .topimg{
            display: block;
            width: 100%;
            height: 60%;
            overflow: hidden;
            border-radius: 25px;
            img{
                display: block;
                width: 100%;
                transition: all .5s ease-in;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
        .bottomimg{
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 50%;
            gap: 8px;

            .bimg{
                display: flex;
                width: 50%;
                height: 100%;
                overflow: hidden;
                border-radius: 15px;
                img{
                    display: block;
                    transition: all .5s ease-in;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
            img{
                display: block;
                width: 100%;
            }
        }
    }
}