.admin-panel{
    display: grid;
    grid-template-columns: 450px 1fr;
    padding: 15px 95px;
    width: 100%;
    gap: 15px;
    margin-bottom: 1000px;

    .profile-cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;
        height:450px;
        padding: 45px;

        .profile-image{
            width: 100%;
            height: 100%;
            
            img{
                mix-blend-mode: multiply;
                object-fit: cover;
                display: block;
                border-radius: 50%;
                
            }
           
        }
        .info{
            display: flex;
            flex-direction: column;
            p{
                font-weight: 550;
                display: flex;
                font-size: 20px;
                margin: 5px;
            }
            svg{
                font-size: 30px;
                cursor: pointer;
                padding: 0 5px;
                margin: 0 5px;
            }
        }


    }
    .customer-history{
        display: flex;
        flex-direction: column;
        padding: 15px 35px;
        gap: 20px;

        .ch-top{
            font-size: 20px;

            h6{
                font-weight: 445;
                font-size: 15px;
                margin-top: 3px;
            }

        }
        .ch-middle{
            display: flex;
            align-items: center;
            gap: 55px;
            font-size: 16px;
            font-weight: 520;
            cursor: pointer;

            p{
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 18px;
                
                span{
                    font-size: 22px;
                    display: inline-block;
                    transform: translate(-2px,2px);

                }
            }

        }
        table{
            text-align: center;
            
        }

    }
}