form{
    margin: 0;
    width: 100%;
    padding: 25px 30px;

    #form-wrapper{
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 25px;
        font-size: 18px;

        p{
            display: flex;
            flex-direction: column;
            gap: 8px;
    
            input{
                outline: none;
                height: 28px;
                border-radius:5px;
                border: 1px solid black;
                padding: 5px;
                font-size: 20px;
    
                &:focus{
                    box-shadow: 2px 2px 15px grey;
                }
            }
        }
        .hotel-type{
            display: flex;
            flex-direction: column;
            width: 20%;


            div{
                display: flex;
                align-items: center;
                width: 200px;

                input{
                    height: 20px;
                    width: 100%;
                    padding: 12px;
                    font-size: 18px;
                }
                button{
                    font-size: 18px;
                    border: none;
                    transition: all .2s ease-in;

                    &:focus{
                        transform: rotate(180deg);
                    }
                }
            }
        

            ul{
                display: flex;
                flex-direction: column;
                gap: 5px;
                list-style: none;
                margin: 2px 5px;
                
            }
        }

        .form-submit{
            margin: 0 auto;
            padding: 10px;
            width: 90%;
            font-size: 20px;
            font-weight: 550;
            background-color: royalblue;
            color: #fff;
            border-radius: 8px;
            border: none;
            text-transform: uppercase;
        }
    }
}