*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 520;
  cursor: pointer;
  transition: all .3s ease-in;
}
a:hover,
a:active{
  transform: translateY(-5px);
  color: orange;
}
a:focus{
  transform: translateY(-5px);
  color: orange;
  text-decoration: underline;
}
