nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 85px;

    .nav-left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        font-size: 22px;
        color: orange;
        cursor: pointer;

        .nav-icons{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-size: 24px;
            transform: translate(-5px,5px);

            button{
                border: none;
                background-color: transparent;
                #moon{
                    scale: 2;
                    margin-left: 6px;
                    color: grey;
                    cursor: pointer;
                }
            }
        }
        #user{
            font-size: 45px;
            color: blueviolet;
            cursor: pointer;
        }
    }
    .nav-right{
        display: flex;
        justify-content: space-between;
        
        align-items: center;
        gap: 85px;


        button{
            padding: 0 10px;
            border: none;
            background-color: transparent;
            transition: all .3s ease-in-out;
            font-weight: 550;
            font-size: 16px;

            &:hover{
                color: orange;
                cursor: pointer;
                transform: translateY(-3px);
            }
        }
    }
}

.dark{
    background-color: black;
}