.display-grid{
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px 35px;
    gap: 45px 15px;

    .hotel-wrapper{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 35px 15px;
        margin-bottom: 15px;
    }
}